/* common designs */

body {
    font-family: 'poppins', sans-serif;
    background-color: #FFFFFF;
    ;
    margin: 0;
}


/* align center all items */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* top sections style */

.top-banner-details h1 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue {
    color: #2D25A0;
    padding: 10PX;
}

.black {
    color: black;
}

.top-banner {
    background-color: #2D25A0;
    height: 677px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-banner-img img {
    height: 456px;
    width: 556px;
}

.top-banner-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 102px;
    justify-content: center;
}

.top-banner-title {
    color: white;
    font-size: 60px;
    font-weight: bold;
    width: 485px;
    height: 250px;
    left: 156px;
    top: 180px;
    line-height: 80px;
}

.top-banner-details #btn-link {
    color: white;
    background-color: #E02C6D;
    text-decoration: none;
    left: 156px;
    top: 484px;
    padding: 10px 20px;
    border-radius: 5px;
}

.fa-arrow-right {
    margin-left: 8px;
}

.top-banner:hover .top-banner-img {
    transform: scale(1.25);
    transition: transform 1s ease-out;
}


/*-------- Players sections styles
----------------------------------- */

.players-section {
    position: relative;
    top: 70px;
}

.player h3,
.player p {
    line-height: 1.5em;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 27px;
    background: #FFFFFF;
}

p {
    color: #797676e7;
    font-family: 'Roboto', sans-serif;
}

.player {
    height: 474px;
    width: 330px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.icons i {
    color: gray;
    padding: 5px;
}

.icons a {
    text-decoration: none;
    font-size: 32px;
}

.logo img {
    height: 63px;
}


/*'''''''''''''''Bottom sections styles''''''''''''' */

.bottom-section {
    width: 85%;
    position: relative;
    top: 8em;
    background-color: rgba(246, 245, 245, 0.868);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.faq p,
.faq h3 {
    line-height: 1em;
}

.get-news input {
    padding: 12px;
    width: 90%;
    border-radius: 10PX;
}

.get-news a {
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
    /* position: absolute;
    /* width: 168px;
   height: 44px; */
    /* left: 156px;
    top: 464px; */
}


/* Footer styles */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 12em;
}


/*///////////////////////////
 media query for mobile devices
 ///////////////////////////////*/

@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }
    /* top banner  */
    .top-banner-title {
        line-height: 50px;
        margin-bottom: 40px;
    }
    .top-banner {
        width: 100%;
        height: 695px;
    }
    .top-banner-item {
        display: flex;
        flex-direction: column;
        grid-row-gap: 50px;
        justify-content: center;
    }
    .top-banner-details {
        display: flex;
        flex-direction: column;
    }
    .top-banner-title {
        font-size: 36px;
        width: 278px;
        height: 212px;
    }
    .top-banner-details #btn-link {
        left: 19px;
    }
    .top-banner-img img {
        width: 329px;
        height: 259px;
    }
    .players {
        grid-template-columns: repeat(1, 1fr);
    }
    .bottom-section {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/* Media query for Tablet devices */

@media only screen and (max-width: 992px) and (min-width: 690px) {
    .container {
        width: 100%;
    }
    /* top banner  */
    .top-banner-title {
        line-height: 70px;
        margin-bottom: 40px;
    }
    .top-banner {
        width: 100%;
        height: 695px;
    }
    .top-banner-item {
        display: flex;
        grid-row-gap: 50px;
        justify-content: center;
    }
    .top-banner-details {
        display: flex;
        flex-direction: column;
    }
    .top-banner-title {
        font-size: 36px;
        width: 278px;
        height: 212px;
    }
    .top-banner-details #btn-link {
        left: 19px;
    }
    .top-banner-img img {
        width: 360px;
        height: 269px;
    }
    .players {
        grid-template-columns: repeat(2, 1fr);
    }
    .bottom-section {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/* ............The End.......... */